Babarabubi

Questions:

- Which albums/artists have achieved a rating of more than 4.5 from MTV?
- What is the number of album sales for all artists from the Netherlands?
- How many albums with genre "country" were released in the year of 2012? Which
one was the best-selling?

In [2]:
import pandas as pd
import numpy as np
from rdflib import URIRef, BNode, Literal, Namespace
from rdflib.namespace import XSD, RDF, RDFS

## Task 1

### 1.1 Make a list of types and properties that are needed in your knowledge graph based on the competency questions.

- types: artist, album, rating, country, genre, 

- properties: country from, is genre


### 1.2 Map the classes and properties in your knowledge graph to the existing vocabularies such as schema.org or LOD Vocabularies. Or, you can use MusicOntology.

http://musicontology.com/specification/#sec-classes

Types:

- Genre: http://purl.org/ontology/mo/Genre
- Artist: http://purl.org/ontology/mo/MusicArtist
- Album: https://schema.org/MusicAlbum
- Country: https://schema.org/Country

Properties:

- born in: https://schema.org/birthPlace
- is genre: https://schema.org/genre
- released in: https://schema.org/releaseDate
- number of sales: https://dbpedia.org/ontology/numberSold
- created by: https://dbpedia.org/property/createdBy
- MTV rating: https://schema.org/starRating


### 1.3 Write down a RDFS representation of your knowledge graph vocabulary in Turtle syntax.
@prefix purl: <http://purl.org/ontology/mo/>
@prefix db: <https://dbpedia.org/>
@prefix sch: <https://schema.org/>

purl:ontology/mo/MusicArtist sch:birthPlace sch:Country .

sch:MusicAlbum db:property/createdBy purl:MusicArtist ;
    sch:releaseDate "..."^^xsd:date ;
    db:ontology/numberSold "..."^^xsd:integer .

## Task 2
Identify individuals (with their types) between them from Artists & Albums dataset, and
generate RDF triples based on your pre-defined vocabulary from Task 1. Assign unique URI
to each individual. You may produce your RDF file using different conversion tools.

In [8]:
#define namespaces
PU = Namespace('http://purl.org/ontology/mo/')
DB = Namespace('https://dbpedia.org/')
SCH = Namespace('https://schema.org/')


genre = PU['Genre']
artist = PU['MusicArtist']
album = SCH['MusicAlbum']
country = SCH['Country']

birth_place = SCH['birthPlace']
is_genre = SCH['genre']
release_date = SCH['releaseDate']
sales = DB['ontology/numberSold']
created_by = DB['property/createdBy']
star_rating = SCH['starRating']



# import data
artists = pd.read_csv("data/artists.csv")
albums = pd.read_csv("data/albums.csv")

In [9]:
artists = artists.drop(["email", "zip_code", "year_of_birth"], axis = 1)
albums = albums.drop(["num_of_tracks", "rolling_stone_critic", "music_maniac_critic"], axis = 1)

In [17]:
albums

,id,artist_id,album_title,genre,year_of_pub,num_of_sales,mtv_critic
0,1,1767,Call me Cat Moneyless That Doggies,Folk,2006,905193,1.5
1,2,23548,Down Mare,Metal,2014,969122,4.0
2,3,17822,Embarrassed Hungry,Latino,2000,522095,1.0
3,4,19565,Standard Immediate Engineer Slovakia,Pop,2017,610116,2.0
4,5,24941,Decent Distance Georgian,Black Metal,2010,151111,2.5
...,...,...,...,...,...,...,...
99995,99996,44624,Mike Pies Malay Albanian Terrible,Pop-Rock,2016,871655,1.5
99996,99997,16345,Global,Retro,2013,146202,2.5
99997,99998,32674,MINI,Indie,2018,620452,4.0
99998,99999,10134,Marketing Belligerent Toe,Pop,2007,643276,1.5
99999,100000,41286,Lover Barbie Of Rock,Rock,2014,466962,4.5

In [15]:
df = albums.merge(artists, left_on="artist_id", right_on="id")

In [16]:
df

,id_x,artist_id,album_title,genre,year_of_pub,num_of_sales,mtv_critic,id_y,real_name,art_name,role,country,city
0,1,1767,Call me Cat Moneyless That Doggies,Folk,2006,905193,1.5,1767,Duncan Y. Nieves,NaN,composer,Myanmar,Lincoln
1,41581,1767,Latter Additional Rupert Llama,Indie,2005,919295,3.5,1767,Duncan Y. Nieves,NaN,composer,Myanmar,Lincoln
2,76732,1767,Sweet Home Arkansas,Rock,2007,173434,5.0,1767,Duncan Y. Nieves,NaN,composer,Myanmar,Lincoln
3,2,23548,Down Mare,Metal,2014,969122,4.0,23548,Oleg X. Koch,Messy Harold Herald,trapper,Oman,Newport
4,18209,23548,China,Country,2018,456252,2.0,23548,Oleg X. Koch,Messy Harold Herald,trapper,Oman,Newport
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99974,46714,Good Tiny,Rap,2015,399294,2.0,46714,Maia Hinton,NaN,tenor,Japan,VÃ¤rnamo
99996,99979,12768,Mi Corazon Hope,Country,2009,37452,0.5,12768,Kareem Norton,Polish ugly Adalyn,singer,Zambia,Codegua
99997,99980,81,The Sofia Bike Ride,Indie,2015,242786,0.5,81,Zelenia Hooper,NaN,singer,Sweden,VilcÃºn
99998,99988,32566,Financial Of Destiny Loves Malay,Deep House,2013,94472,2.5,32566,Genevieve P. Hawkins,Entire,drummer,Iraq,Fontenoille
99999,99989,16948,Curious Soups My Worst,Pop,2015,781897,4.0,16948,Timon Reilly,Engineer mental,chorist,Congo the Democratic Republic of the,Rae-Edzo